*{
    box-sizing: border-box;
}

:root{
    --primary-color: #0F1B4C;
    --wid:50;
}

html{
    font-size: 62.5%; /* The same setting 10px */
}

body{
    font-size: 1.6rem; /* The same setting 1rem = 10px + 0.6rem = 6px = 16px */
    font-family: 'Poppins', sans-serif;
    /* height temp */
    height: 10000px; 
}

/* Common */
.content{
    width: 1110px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.btn{
    padding: 1.5rem 2.8rem;
    color: #FFF;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    background: var(--primary-color);
    border-radius: 1.2rem;
}

.btn:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in;
}


.line-clamp{
    /* this class use for display ... */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ===== Header ===== */
.header{
    background: #E6F0FF;
    padding-top: 3.8rem;
}

.nav{
    display: flex;
    padding-top: 1rem;
    align-items: center;
    /* flex-wrap: wrap; */
}

.nav ul{
    display: flex;
    margin-left: 5rem;
}

.nav ul a{
    padding: 1.2rem 1.4rem;
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

.nav ul a::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    width: 0px;
    height: 0.2rem;
    background: #4F5361;
    transition: all 0.3s ease;
}

.nav ul a:hover::before{
    /* width: calc(100% - 2.8rem); */
    /* --a : calc(calc(100% - 2.8rem) / 1px); */
    /* max-width: calc(100% - 2.8rem); */
    --wid:30;
    width: 1px;
    transform: scaleX(var(--wid));
}

.nav .nav-action{
    margin-left: auto;
}

.nav .nav-action .nav-btn-action{
    margin-left: 1.8rem;
    padding: 1rem 2.3rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
}

.nav .nav-action .nav-link-action{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

/* ===== Hero ===== */

.hero-wrap{
    margin-top: 3.9rem;
    height: 61.9rem;
    position: relative;
}

.hero-info{
    width: 56rem;
    padding-top: 9rem;
}

.hero-info .sub-title{
    color:#687690;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500s;
    letter-spacing: 0.018rem;
}

.hero-info .title{
    margin-top: 0.8rem;
    color: #000336;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero-info .desc{
    margin-top: 3rem;
    color: #5a6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero-info .btn-cal{
    display: inline-block;
    margin-top: 4rem;

}

.hero-img{
    position: absolute;
    bottom: 0px;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ===== Client ===== */

.client-wrap{
    margin-top: 7.9rem;
    padding: 4.3px 0px;
    /* padding: 4.1rem 0rem; */
}

.client-info{
    display: flex;
}

.client-info p{
    margin-top: 2.3rem;
    color: #7D8589;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
}

.client-review{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
}

.client-logo{
    margin-top: 7rem;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

/* ===== Guides ===== */

.guides{
    margin-top: 40px;
    padding: 7.9px 0px;
}

.guides .sub-title{
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before{
    content: "";
    position:absolute;
    display: inline-block;
    top:-10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;

}

.guides .desc {
    margin: 20px auto 0px auto;
    color: #5A6473;
    width: 459px;
    max-width: 100%;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 1.87; /* 187.5% */
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 7.4rem;
}

.list-guide .guide-item{
    text-align: center;
    margin: 0px 7rem;
}

.guide-item .title{
    margin-top: 2.6rem;
    color: #3B3C45;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
}

.guide-item .link{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #0689FF;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.guide-item .arrow-right{
    margin-left: 6px;
}

.guide-cta{
    margin-top: 5rem;
    text-align: center;
}

.guide-cta .btn{
    min-width: 17rem;
}

/* ===== Featured ===== */

.featured{
    background: #F5FAFE;
    margin-top: 4.1rem;
    padding: 110px 0px;
}

.featured .sub-title{
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.featured .row{
    display:  flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.featured .desc{
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88;
}

.featured .link{
    display:  flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.featured .arrow-right{
    margin-left: 8px;
}

.featured .list-featured{
    display: flex;
    gap: 30px;
    margin-top: 7rem;
}

.featured .feature-item{
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.featured .list-featured .thumb{
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .feature-body {
    padding: 17px 20px 23px;
}

.feature-body .title a{
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.feature-body .desc{
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* use to break word */
    word-break: break-all;
}

.feature-body .info{
    display: flex;
    gap: 22px;
    margin-top: 21px;
}

.feature-body .info .info-item{
    display: flex;
    gap: 8px;
    align-items: center;
}

.feature-body .info-item .label{
    color: #4D4D52;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.14px;
}

/* ===== Stats ===== */
.stats{
    margin-top: 75px;
    padding: 50px 0px;
}

.stats .content{
    width: 1017px;
}

.stats .row{
    display:  flex;
}

.stats .img-block, .stats .stats-info{
    width: 50%;
}

.stats .img-block{
    position:  relative;
}

.stats .stats-trend{
    position: absolute;
    top: 0;
    left: 0;
    padding:45px 22px 40px;
    width: 239px;
    background: #fff;
    border-radius: 0px 0px 12px 12px;
}

.stats .stats-trend .row{
    justify-content: space-between;
}

.stats .stats-trend .value{
    font-size: 2.6rem;
    color: #000339;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.26px;
}

.stats .stats-trend .desc{
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.stats .stats-trend .seperater{
    margin-top: 25px;
    height: 2px;
    background: #E9E9E9;
}

.stats .avatar-block{
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.stats .avatar-block .avatar-group{
    display: flex;
}

.stats .avatar-block .avatar-group .avatar{
    width: 16px;
    height: 16px; 
    margin-left: -3px;  
    border-radius: 50%;
}

.stats .avatar-block .avatar-6{
    color: #FFF;
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    line-height: 16px;
    font-weight: 450;
    letter-spacing: -0.145px;
    background: #1F3BB1;
}

.stats .img-block .image{
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .stats-info{
    padding: 79px 0px 0px 165px;
}

.stats .stats-info .sub-title{
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}

.stats .stats-info .sub-title::before{
    content: "";
    position: absolute;
    left: 0;
    top: -10;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .stats-info .desc{
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88;
}



