*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* The same setting 10px */
}

body{
    font-size: 1.6rem; /* The same setting 1rem = 10px + 0.6rem = 6px = 16px */
    font-family: 'Poppins';
}